body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    margin-bottom: 20px;
    z-index: 2;
}

.navbar-toggler {
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

.mt-3{
    margin-top: 0px;
}

.alert {
    margin: 20px auto;
    max-width: 80%;
    z-index: 3;
    animation: fadeOut 1s forwards;
    opacity: 1;
}
@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 12px;
    border: 1px solid #dee2e6;
    text-align: left;
}

table th {
    background-color: #007bff;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e9ecef;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

.form-control {
    border-radius: 0.25rem;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 0.25rem;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

h1, h3, h4, h2 {
    color: #007bff;
}

.content {
    text-align: center;
    margin-top: 20px;
}

.dropdown-toggle::after {
    display: none;
}
.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0; 
    transform: translateX(0); 
    transition: transform 0.3s ease-in-out;
    margin-top: 0.125rem; 
    min-width: 10rem;
    z-index: 1000;
}

.dropdown-menu.show {
    transform: translateX(-100%); 
}

form {
    max-width: 500px;
    margin: 0 auto;
}

#profile-form{
    max-width: 100%;
}

#title{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
}


@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    button.btn-primary {
        font-size: 14px;
    }
}

