<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone Number</th>
            <th>Date of Birth</th>
            
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name + user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{user.phone_number}}</td>
            <td>{{user.birthday}}</td>
        </tr>
        {% endfor %}
</body>
</html>